<%= form_with(model: [task.project, task]) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", id: :task_name %>
  </div>

  <div class="form-group">
    <%= f.check_box :completed, id: :task_completed %>
    <%= f.label :completed %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", task.project, class: "btn btn-default", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
