<%= form_with(model: project, local: true) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", id: :project_name %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", id: :project_description %>
  </div>

  <div class="form-group">
    <%= f.label :due_on %>
    <%= f.date_select :due_on, class: "form-control", id: :project_due_on %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <% cancel_path = (project.persisted? ? project_path(project) : projects_path) %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-default", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
