<h1><%= @project.name %></h1>

<p>
  <%= simple_format @project.description %>
</p>

<p>
  Owner: <%= @project.owner.name %>
</p>

<p>
  Due: <%= @project.due_on %>
</p>

<div>
  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-default" %>
</div>
