<h1><%= @project.name %></h1>

<p>
  <%= simple_format @project.description %>
</p>

<p>
  Owner:
  <%= image_tag gravatar_image_url(@project.owner.email, size: 30, secure: true),
        alt: @project.owner.name %>
  <%= @project.owner.name %>
</p>

<p>
  Due: <%= @project.due_on %>
</p>

<div>
  <%= link_to 'Add Task', new_project_task_path(@project), class: "btn btn-default" %>
  <%= link_to 'Add Note', new_project_note_path(@project), class: "btn btn-default" %>
  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-default" %>
</div>

<h2>Tasks</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @project.tasks %>
  </tbody>
</table>

<h2>Notes</h2>

<%= form_with url: project_notes_path(@project),
    local: true, method: :get, class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.label :term %>
    <%= f.search_field :term, class: "form-control" %>
    <%= f.submit "Search Notes", class: "btn btn-default" %>
  </div>
<% end %>

<div class="list-group">
  <%= render @project.notes %>
</div>
