<h1 class="heading">
  <%= @project.name %>
  <%= link_to edit_project_path(@project), class: "btn btn-default btn-sm btn-inline" do %>
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    Edit
  <% end %>
</h1>

<div class="project-description">
  <%= simple_format @project.description %>
</div>

<p>
  Owner:
  <%= @project.owner.name %>
</p>

<p>
  Due: <%= full_date(@project.due_on) %>
</p>

<hr class="divider">

<h2 class="heading">
  Tasks
  <%= link_to new_project_task_path(@project), class: "btn btn-default btn-sm btn-inline" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Task
  <% end %>
</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="task-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @project.tasks %>
  </tbody>
</table>

<hr class="divider">

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2 class="heading" style="padding: 0 !important; margin: 0 !important">
      Notes
      <%= link_to new_project_note_path(@project), class: "btn btn-default btn-sm btn-inline" do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Note
      <% end %>
    </h2>
  </div>

  <div class="col-xs-12 col-md-6" style="text-align: right;">
    <%= form_with url: project_notes_path(@project),
        local: true, method: :get, class: "form-inline" do |f| %>
      <div class="form-group has-feedback">
        <%= f.label :term, class: "sr-only" %>
        <%= f.search_field :term, class: "form-control", id: :term, placeholder: "Search Notes" %>
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
        <%= f.submit "Search Notes", class: "btn btn-default sr-only" %>
      </div>
    <% end %>
  </div>
</div>

<%= render @project.notes %>
