<h1><%= @project.name %></h1>

<p>
  <%= simple_format @project.description %>
</p>

<p>
  Owner:
  <%= image_tag gravatar_image_url(@project.owner.email, size: 30, secure: true),
        alt: @project.owner.name %>
  <%= @project.owner.name %>
</p>

<p>
  Due: <%= @project.due_on %>
</p>

<div>
  <%= link_to 'Add Note', new_project_note_path(@project), class: "btn btn-default" %>
  <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-default" %>
</div>

<h2>Notes</h2>

<div class="list-group">
  <%= render @project.notes %>
</div>
